---
---

<div class="row">
  <div class="col-sm-1">
  </div>

  <div id="{{entry.key}}" class="col-sm-9">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title">{{entry.title}}</div>
      <div class="author">
        {% for author in entry.author_array limit:20 %} <!-- Added limit 20 for SDSS all-collab papers -->
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
              {% assign author_is_self = true %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.last}}, {{author.first}}</em>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em>{{author.last}}, {{author.first}}</em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.last}}, {{author.first}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em>{{author.last}}, {{author.first}}</em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.last}}, {{author.first}}
                  {% if forloop.length == 20 %} <!-- Added limit 20 for SDSS all-collab papers -->
                  et al. <!-- Added limit 20 for SDSS all-collab papers -->
                  {% endif %} <!-- Added limit 20 for SDSS all-collab papers -->
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </div>
    {% endif %}

    <div class="links">
    {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button">abstract</a>
    {% endif %}
    {% if entry.adsurl %}
      <a href="{{ entry.adsurl }}" class="btn btn-sm z-depth-0" role="button">ADS</a>
    {% endif %}
    {% if entry.eprint %}
      <a href="http://arxiv.org/abs/{{ entry.eprint }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

  </div>
</div>
